:root{
    --letra: #ffffff;
    --letra2: #212121;
    --borde: #ffc107;
    --linea: #550101;
    --gris: #757575;
    --grisclaro: #dfe9f3;
}

body{
font-family: "Raleway", sans-serif;
background-image: url(../imgs/bg-body-img.jpg);
color: var(--letra2);
text-align: justify;
align-items: center;
}

.bg-custom-success{
background-color: var(--grisclaro);
}

.line{
display: flex;
height: 0.5rem;
margin-top: 2rem;
background: var(--linea);
}

.name{
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
letter-spacing: 0.1rem;
font-weight: 700;
margin-top: 2rem;
}

.description{
letter-spacing: 0.2rem;
margin-top: 1.9rem;
font-size: 1.5rem;
}

.image{
margin-top: 2rem;
margin-bottom: 2rem;
width: 200px;
height: 200px;
border: 3px solid var(--borde);
border-radius: 2rem;
}

.expirence{
background-color: var(--gris);
padding: 0.8rem;
color: var(--letra);
text-transform: uppercase;
}

.icons{

text-transform: lowercase;
list-style: none;
}
    
.format{
font-family: 'Raleway', sans-serif;
font-weight: 400;
text-transform: none;
padding: 10px;
}
